.main-container {
  padding: 5%;
}

.container {
  max-width: 90% !important;
}

.wallet-address {
  color:white;
}

.list-items-artifacts {
  display: block;
}

.navbar-class{
  background-color: #5e72e4 !important;
}
